<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wordshare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand text-light" href="/home">WordShare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-light" href="/home">Home </a>
                <a class="nav-item nav-link text-primary" href="add_poem">ShareTheWord<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-light" href="profile">Profile</a>
                <a class="nav-item nav-link text-light" href="logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <form th:action="@{/api/poem}" method="post" style="max-width: 350px; margin: 0 auto;" class="bg-white">
            <span th:if="${emptyPoem != null}" class="error">Poem can't be empty!</span>

            <div class="border border-secondary p-3 rounded">
                <p>
                    <h4>
                        Title: <input type="text" name="title">
                    </h4>
                </p>
                <textarea cols="30" rows="15" name="content" tabindex="1" ></textarea>
                <div>
                <a href="/home">
                    <input type="submit" value="Publish" style="font-face: 'Serif'; font-size: smaller; color: #000000; background-color: #d6c0ff;" class="btn btn-primary"/>
                </a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>