<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wordshare</title>
</head>
<body>
<h1>Home page</h1>
<a href="/login">Logowanie</a>
<a href="/register">Rejestracja</a>
<a href="/profile">Profil</a>
</body>
    <head>
        <meta charset="UTF-8">
        <title>Wordshare</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous" />
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-light" href="/">WordShare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-primary" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link text-light" href="login">Login</a>
                    <a class="nav-item nav-link text-light" href="register">Rejestracja</a>
                    <a class="nav-item nav-link text-light" href="add_poem">Dodaj wiersz</a>
                    <a class="nav-item nav-link text-light" href="profile">Profil</a>
                </div>
            </div>
        </nav>


        <div class="container text-center py-5">
            <article class="mb-5 w-75 border border-dark rounded" th:each="poem :${poems}" style="background-color: #eee;">
                <h2 class="blog-post-title" th:text="${poem.content}"></h2>
                <p th:text="${poem.content}"></p>
                <span th:text="${poem.comments}"></span>
            </article>
        </div>

    </body>
</html>